@model KamikazeThinhPhat.Web.Models.ProductViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/Layouts.cshtml";
    var listBreabcrumb = (IEnumerable<KamikazeThinhPhat.Web.Models.ProductCategoryViewModel>)ViewBag.listBreadcrumb;

    var moreImages = (List<string>)ViewBag.ListMoreImages;
    var countImage = 0;

}

@{ Html.RenderAction("Banner", "Portfolio");}


<div class="content_cen about-bg page-bg">
    <div class="wrapper">
        <div class="header_wrapper">
            <ul class="header_wrapper_nav">
                @if (listBreabcrumb.Count() > 0)
                {
                    var isFirst = true;
                    foreach (var itemBreabcrumb in listBreabcrumb)
                    {
                        var Url = "/portfolio-" + itemBreabcrumb.MetaKeyword + "-" + itemBreabcrumb.Alias + "-" + itemBreabcrumb.ID + ".html"; ;
                        if (isFirst)
                        {
                            isFirst = false;

                            <li class="current">
                                <a href="#">
                                    <h3 class="">@itemBreabcrumb.Name</h3>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="">
                                <a href="@Url">
                                    <h3 class="">@itemBreabcrumb.Name</h3>
                                </a>
                            </li>
                        }

                    }
                }
                
                <li class="">
      
                        <h3 class="">@Model.Name</h3>

                </li>
               
            </ul>
        </div>
        <div class="content_wrapper content_wrapper_portfolio">

            <section class="">
                <div class="portfolio_container">
                    <!-- Project One -->
                    <div class="row">
                        <div class="col-md-7">
                            <div id="carousel-example-generic" class="carousel slide picture_border" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    
                                    
                                    @foreach (var item in moreImages)
                                    {
                                        countImage = countImage + 1;

                                        if (countImage == 1)
                                        {

                                            <li data-target="#carousel-example-generic" data-slide-to="@countImage" class="active"></li>
                                        }
                                        else
                                        {
                                            <li data-target="#carousel-example-generic" data-slide-to="@countImage" class=""></li>
                                        }

                                    }
                                   
                                 
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    @{ 
                                        countImage = 0;
                                    }
                                    @foreach (var itemSlide in moreImages)
                                    {
                                            
                                        if (countImage == 0)
                                        {
                                            countImage = countImage +1;
                                            <div class="item active">
                                                <img class="img-responsive" src="@itemSlide" title="@Model.Name">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="item">
                                                <img class="img-responsive" src="@itemSlide" title="@Model.Name">
                                            </div>
                                        }

                                    }
                                    
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-4 portfolio_summary">
                            <p class="portfolio_summary_title">
                                Thông tin chi tiết
                            </p>
                            <div class="portfolio_summary_content content_color">
                                <span>
                                    "Đây là thông tin bên thịnh phát cung cấp thông tin chi tiết"
                                </span>
                            </div>

                           
                            
                        </div>
                    </div>
                    <!-- /.row -->
                
                    
                    <hr>
                </div>
            </section>
            <section class="other_area">
                <h3 class="text-center portfolio_summary_title ">Lĩnh vực hoạt động khác</h3>
               
                <div class="">
                    <!-- Related Projects Row -->
                    <div class="row">
                        <div class="col-sm-3 col-xs-6 port-w3ls">
                            <a href="blogpost.html">
                                <div class="hover01 column">
                                    <div>
                                        <figure>
                                            <img class="img-responsive img-hover img-related" src="~/Assets/client/images/port-item-img4.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3 col-xs-6 port-w3ls">
                            <a href="blogpost.html">
                                <div class="hover01 column">
                                    <div>
                                        <figure>
                                            <img class="img-responsive img-hover img-related" src="~/Assets/client/images/port-item-img5.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3 col-xs-6 port-w3ls">
                            <a href="blogpost.html">
                                <div class="hover01 column">
                                    <div>
                                        <figure>
                                            <img class="img-responsive img-hover img-related" src="~/Assets/client/images/port-item-img6.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3 col-xs-6 port-w3ls">
                            <a href="blogpost.html">
                                <div class="hover01 column">
                                    <div>
                                        <figure>
                                            <img class="img-responsive img-hover img-related" src="~/Assets/client/images/port-item-img7.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <!-- /.row -->

                    <hr>
                </div>
            </section>	

           
        </div>
      

        
    </div>
</div>


