@model IEnumerable<KamikazeThinhPhat.Web.Models.ProductViewModel>
@{
    ViewBag.Title = "Portfolio Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
    var listBreadcrum = (IEnumerable<KamikazeThinhPhat.Web.Models.ProductCategoryViewModel>)ViewBag.listBreadcrumb;
}
@{ Html.RenderAction("Banner", "Portfolio");}
<div class="content_cen about-bg page-bg portfolio_kmkz">
    <div class="wrapper">
        <div class="header_wrapper">
            <ul class="header_wrapper_nav">
                @if (listBreadcrum.Count() > 0)
                {
                    var isfirst = true;
                    foreach (var itemBreadcrum in listBreadcrum)
                    {

                        if (isfirst)
                        {
                            isfirst = false;
                            <li class="current">
                                <a href="#">
                                    <h3 class="">@itemBreadcrum.Name</h3>
                                </a>
                            </li>
                           
                        }
                        else
                        {
                            <li class="">
                                <a href="#">
                                    <h3 class="">@itemBreadcrum.Name</h3>
                                </a>
                            </li>
                        }
                    }
                }
                
            </ul>
        </div>
        <div class="content_wrapper content_wrapper_portfolio">

            <section class="">
                <div class="portfolio_container">
                    <!-- Project One -->
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            var Url = "/portfolio.detail-"+item.Alias+"-"+item.ID+".html";
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="@Url">
                                        <div class="hover01 column picture_border">
                                            <div>
                                                <figure>
                                                    <img class="img-responsive img-hover" src="@item.Image" alt="@item.Name" title="@item.Name">
                                                </figure>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-5 portfolio_summary">
                                    <p class="portfolio_summary_title">
                                        @item.Name
                                    </p>
                                    <div class="portfolio_summary_content content_color">
                                        <span>
                                            @item.Description
                                        </span>
                                    </div>

                                    <br />
                                    <a class="detail" href="@Url">

                                        <img class="over" src="~/Assets/client/images/btn_detail.png" />

                                    </a>
                                </div>
                            </div>
                              <!-- /.row -->
                            <br />
                        }
                    }
                    else
                    {
                        <p style="color:red">Không tìm thấy dữ liệu</p>
                    }

                   
     
                    <hr>
                </div>
            </section>
        </div>
    </div>
</div>