@model IEnumerable<KamikazeThinhPhat.Web.Models.ProductViewModel>
@{
    ViewBag.Title = "Partner Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
    var productCategory = (KamikazeThinhPhat.Web.Models.ProductCategoryViewModel)ViewBag.productCategory;
}

@{ Html.RenderAction("Banner", "Portfolio");}

<div class="content_cen about-bg page-bg">
    <div class="wrapper">
        <div class="header_wrapper">
            <ul class="header_wrapper_nav">
                <li class="current">
                    <a href="#">
                        <h3 class="">Đối tác</h3>
                    </a>
                </li>
            </ul>
        </div>
        <section class="content_wrapper content_wrapper_portfolio our_partner">
            <div class="portfolio_container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 blog-w3ls1 portfolio_summary">
                        @if (!string.IsNullOrEmpty(productCategory.Name))
                        {
                            <p class="portfolio_summary_title">@productCategory.Description</p>
                            <div class="portfolio_summary_content">
                                <span>
                                    @productCategory.MetaDescription
                                </span>
                            </div>
                        }
                        

                    </div>
                    <div class="col-lg-9 col-sm-9 col-sm-12">
                        @if (@Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                var Url = "partner.detail-"+ item.Alias+"-"+item.ID+".html";
                                <div class="col-lg-4 col-md-4 col-sm-6 blog-w3ls2">
                                    <div class="agile">
                                        <a href="@Url" class="blogimg-w3ls">
                                            <div class="hover01 column">
                                                <div>
                                                    <figure style="padding:10%;"><img src="@item.Image" alt="w3layouts" class="img-responsive"></figure>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="@Url" class="agile_content"><h4>@item.Name</h4></a>
                                        @*<p class="blog-p2">@item.Description</p>*@

                                        <a href="@Url" class="agile_read_more">
                                            <p>Read More</p>
                                            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        
                   
                       
                    </div>
                </div>
                
                    
                
            </div>
        </section>
    </div>
</div>
