@model KamikazeThinhPhat.Web.Models.ProductViewModel
@{
    ViewBag.Title = "About Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

@{ Html.RenderAction("Banner", "Portfolio");}

<div class="content_cen about-bg page-bg">
    <div class="wrapper">
        <div class="header_wrapper">
            <ul class="header_wrapper_nav">
                <li class="current">
                    <a href="#">
                        <h3 class="">@Model.Name</h3>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content_wrapper">
            <div class="content_text_area">
                <div class="content_pic">
                    <div class="slideshow">

                        <img src="@Model.Image" width="300" height="300" alt="@Model.Name" class="content_img">
                    </div>
                </div>

                <p>
                    <span style="font-size: 13px;">
                        @Html.Raw(@Model.Content)
                    </span>
                </p>

                <p>
                </p>
            </div>
        </div>
    </div>
</div>