@model KamikazeThinhPhat.Web.Models.ProductViewModel
@{
    ViewBag.Title = "Ledger Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
    var listProductViewModel = (IEnumerable<KamikazeThinhPhat.Web.Models.ProductViewModel>)ViewBag.listProductViewModel;
}

@{ Html.RenderAction("Banner", "Portfolio");}

<div class="content_cen about-bg page-bg ledger_kmkz">
    <div class="wrapper">
        <div class="header_wrapper">
            <ul class="header_wrapper_nav">
                <li class="current">
                    <a href="#">
                        <h3 class="">Hồ sơ pháp lý </h3>
                    </a>
                </li>
                <li>
                     <h3 class="">@Model.Name</h3>
                </li>
               
            </ul>
        </div>
        <div class="content_wrapper">
           <div class="portfolio_container">
               <div class="row">
                   <div class="col-md-3 portfolio_title">
                       <div class="menu_member_top"></div>
                       <div class="menu_members_center">
                           <ul class="menu_left_members_nav corevalue_nav">
                               @foreach (var item in listProductViewModel)
                               {
                                   var Url = "/ledger-index-" + item.ID + ".html";
                                   var active = Model.Name;
                                   if (item.Name.Contains(active))
                                   {
                                    <li><a href="@Url" class="menu_left_member_item_active">@item.Name</a></li>
                                   }
                                   else
                                   {
                                    <li><a href="@Url">@item.Name</a></li>
                                   }

                               }
                               
                               

                           </ul>
                       </div>
                       <div class="menu_member_bottom"></div>
                   </div>
                   <div class="col-md-9 portfolio_summary">
                       <div class="portfolio_summary_title">@Model.Name</div>
                       <div class="portfolio_summary_content ledger_content">

                            @Html.Raw(@Model.Content)

                       </div>
                     
                        <div class="hover01 column">
                            <div>
                                <figure>
                                    <img class="img-responsive img-hover" src="@Model.Image">
                                </figure>
                            </div>
                        </div>

                   </div>
               </div>
           </div>
             
        </div>
    </div>
</div>